/* carousel.item{height:100px;} */

.carousel .carousel-item {
    transition-duration: 0.5s;
    height:100vh;
    background-size: cover;

}
#slide1{text-align: center;
    margin-top: 35vh;}
#slide2{text-align: center;
    margin-top: 35vh;}
#slide3{text-align: center;
margin-top: 5vh;}

